*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5;
  font-family: 'Raleway', sans-serif; }

.heading-top {
  font-family: 'Montserrat', sans-serif;
  font-size: 10rem; }

.heading-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 14rem; }

.heading-subtitle {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 2.5rem; }

.text-link {
  font-size: 2rem; }

@keyframes dash {
  from {
    stroke-dashoffset: 805px; }
  to {
    stroke-dashoffset: 0px; } }

.margin-top-desk {
  margin-top: .5rem; }

.margin-bottom-desk {
  margin-bottom: .5rem; }

.margin-sides {
  margin-left: 1rem;
  margin-right: 1rem; }

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0; }
  .link-wrapper .link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 10px 0; }
    .link-wrapper .link--grey {
      color: #DDDDDD; }
  .link-wrapper .hover-1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #D3B18C;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s; }
  .link-wrapper .hover-1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #D3B18C;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 0.3s; }
  .link-wrapper .hover-1:hover:before, .link-wrapper .hover-1:hover:after {
    transform: scaleX(1); }

nav {
  background-color: #3A546B;
  border-bottom: 1px solid #D3B18C;
  position: fixed;
  width: 100%; }
  nav .nav-list {
    list-style-type: none;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: stretch;
    flex-grow: 1; }
    nav .nav-list__item {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      width: 100%; }
    nav .nav-list__link {
      text-decoration: none;
      color: #D3B18C;
      text-align: center;
      width: 100%;
      padding: 25px 0 25px 0; }

.header {
  background-color: #3A546B;
  height: 100vh;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr 210px repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr); }
  .header__intro {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    color: rgba(140, 194, 211, 0.2); }
  .header__name {
    grid-row: 2 / 3;
    grid-column: 1 / 7;
    color: #D3B18C;
    text-align: center;
    line-height: 1; }
  .header__pro {
    grid-row: 3 / 4;
    grid-column: 2 / 4;
    color: #8CC2D3;
    text-align: center;
    align-self: center; }
  .header__serv {
    grid-row: 3 / 4;
    grid-column: 4 / 6;
    color: #FF8787;
    text-align: center;
    align-self: center; }
  .header__desc {
    grid-row: 4 / 5;
    grid-column: 2 / 6;
    color: #CCCCCC;
    display: flex; }

.banner {
  color: white;
  background-color: #092034; }
