*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5;
  font-family: 'Raleway', sans-serif; }

@keyframes dash {
  from {
    stroke-dashoffset: 805px; }
  to {
    stroke-dashoffset: 0px; } }

.link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding: 10px 0;
  color: #DDDDDD; }

.link-wrapper {
  position: relative;
  display: block;
  padding: 20px 0; }

.hover-1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #D3B18C;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s; }

.hover-1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #D3B18C;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s; }

.hover-1:hover:before, .hover-1:hover:after {
  transform: scaleX(1); }

.hero {
  width: 100%;
  height: 100vh;
  color: #CCCCCC;
  background-color: #3A546B;
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-template-columns: 6rem 1fr 6rem; }
  .hero .login {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    position: relative;
    font-size: 1.5rem; }
  .hero .title {
    grid-row: 2 / 3;
    grid-column: 1 / 4; }
    .hero .title .name {
      width: 100%;
      stroke-dasharray: 805px;
      stroke-dashoffset: 805px;
      animation: dash 3s ease-in-out forwards; }
  .hero .nav {
    grid-row: 3 / 4;
    grid-column: 1 / 4; }

.banner {
  color: white;
  background-color: #092034; }
