// Blue \\
$color-blue-1: #061624;
$color-blue-2: #092034;
$color-blue-3: #3A546B;
$color-blue-4: #8CC2D3;

// Red \\
$color-red-1: #7F1616;
$color-red-2: #7F3333;
$color-red-3: #9B3E3E;

// Brown \\
$color-brown-1: #AF9880;
$color-brown-2: #D3B18C;

// Grey \\
$color-grey-1: #CCCCCC;
$color-grey-2: #DDDDDD;